body {
    width: 100%;
    height: 100vh;
    max-height: 1415px;

    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
}

.header, .main, .footer {
    min-width: 375px;
    max-width: 1280px;
    margin: auto;
}

header {
    background-color: #00AEFF;
    flex: 36;
}

.header {
    min-height: 180px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1360px;
    background-color: inherit;
}

.header > div {
    width: 416px;
    max-width: 416px;
    min-height: 88px;
    max-height: 88px;
    margin: auto 3%;
}

.header > div:first-child {
    background-color: #00DBDD;
    margin-left: 3%;
}

.header > div:last-child {
    background-color: #36C3FF;
    margin-right: 3%;
}

main {
    flex: 180;
}

.main {
    display: flex;
    flex-flow: row wrap;
    min-height: 900px;
    max-height: 985px;
}

.main > nav {
    min-width: 292px;
    max-width: 292px;
    min-height: 80px;
    flex: 1;
    background-color: #FF5607;    

    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    margin: 0;
}

.main > nav > div {
    width: 100%;
    min-height: 50px;
    min-width: 104px;
    max-width: 218px;
    margin: 0 auto;
    margin-top: 1.5em;
    background-color: #E84900;
}

.main > article {
   width: auto;
   max-width: 988px;
   flex: auto;

   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
   padding: 1em;
}

.main > article > div:first-child {
    min-width: 410px;
    max-width: 410px;
    min-height: 290px;
    max-height: 290px;
    background-color: #FFBD00;
    margin: 0 8px 0 0;
}

.main > article > div:nth-child(2) {
    max-width: 470px;
    min-height: 290px;
    max-height: 290px;
    margin: 0 0 0 8px;
    flex: auto;
}

.main > article > div:nth-child(2) > div {
    height: 30px;
}

.main > article > div:last-child {
    width: 100%;
    margin-top: 10px;
}

.main > article > div:last-child > div {
    height: 30px;
}

.main > article > div:nth-child(2) > div, .main > article > div:last-child > div {
    width: 100%;
    background-color: #CECECE;
    margin-bottom: 20px;
}    

.main > article > div:nth-child(2) > div:first-child {
    height: 42px;
    background-color: #9D9D9D;
}

footer {
    background: green;
    flex: 67;
    min-width: 375px;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1006px;
    height: 100%;
}

.footer > div {
    width: 240px;
    min-height: 264px;  
    background-color: #02B15A;
    margin: auto 0;
}

.footer > div > div {
    height: 36px;
    width: 182px;
    background-color: #038042;
    margin: 2em;
}

.footer > div > div:not(:first-child) {
    margin-top: 1.2em;
}    

.footer > div > div:not(:last-child) {
    margin-bottom: 1.2em;
}    

@media (max-width: 1024px) {
    .header > div {
        width: 40%;
    }

    .main > article {
        justify-content: center;
    }

    .main > article > div:first-child {
        margin: 0 0 20px 0;
    }
    
    .main > article > div:nth-child(2) {
        width: 100%;
        max-width: none;
        min-height: 0;
        margin: 0;
        flex: auto;
    }
    
    .main > article > div:last-child {
        margin: 0;
    }

    .main > article > div:nth-child(2) > div, .main > article > div:last-child > div {
        height: 18px;
    }
    
    .main > article > div:nth-child(2) > div:first-child {
        height: 24px;
    }

    .footer > div {
        width: 190px;
        min-height: 0;
        margin: auto;
    }

    .footer > div > div {
        width: 160px;
        height: 18px;
        background-color: #038042;
        margin: 1em;
    }
}

@media (max-width: 768px) {
    .main > nav {
        min-width: 260px;
    }

    .main > article > div:first-child {
        min-width: 375px;
        min-height: 210px;
    }

    .footer > div {
        width: 44%;
        min-width: 190px;
        margin-top: 1em;
        margin-bottom: 1em;
    }
}

@media (max-width: 667px) {
    header {
        max-height: 116px; 
    }
    
    .header {
        min-height: 116px;
        flex: auto;
        align-content: space-evenly;  
    }

    .header > div {
        width: 100%;
        max-width: none;
        min-height: 34px;
        max-height: 34px;
    }

    .main > nav {
        width: 100%;
        max-width: none;
        min-width: inherit;
    }

    .main > nav > div:nth-child(-n+2) {
        display: none;
    }

    .main > nav > div {
        max-width: 104px;
        min-height: 34px;
        margin: auto;
    }

    .main > article {
        padding: 1em 0;
     }

     .main > article > div:nth-child(2) > div, .main > article > div:last-child > div {
        width: 96%;
        margin-left: auto;
        margin-right: auto;
    }   
}

@media (max-width: 375px) {
    .main > nav {
        min-width: 375px;
    }   

    .main > article {
        padding: 0;
     }

    .footer > div {
        width: 100%;
        min-width: 0;
        min-height: 0;
        margin: 0 1em;
        height: 20%;
    }

    .footer > div:first-child {
        margin-top: 1em;
    }

    .footer > div > div:nth-child(n+2) {
        display: none;
    }
    
    .footer > div > div:first-child {
        height: 24px;
        margin: 6%;
    } 
}